<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>pyte.st URL shortener</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <section id="main">
            <h1>pyte.st</h1>
            <p>
                This page is run by <a href="https://bruhin.software/">Bruhin Software</a>:
                pytest trainings and consulting by Florian Bruhin, one of pytest's core maintainers!
            </p>
            <p>
                More content will follow. For now, you probably want to look at the
                <a href="https://docs.pytest.org/en/stable/">pytest documentation</a> instead.
            </p>
        </section>

        <section>
            <h1>Available links</h1>
            <table>
            {% for page in pages %}
            <tr>
            <td><b><a href="https://pyte.st{{ page.name }}">{{ page.name }}</a></b></td>
            <td><a href="{{ page.dest }}">{{ page.title }}</a></td>
            </tr>
            {% endfor %}
            </table>
        </section>
    </div>
</body>

</html>
